@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
body {
    background-color: #232841;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

body, .first-point, #circle-one, .second-point, #circle-two, .third-point, #circle-three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.first-point, .second-point, .third-point {
    color: #FFF8F8;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}
#circle-one, #circle-two, #circle-three {
    width: 64px;
    height: 64px;
    background: #414363;
    border-radius: 50%;
    color: #0EC194;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}
#text1, #text2, #text3 {
    color: #F8F4F4;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}
.actions-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: .5em;
    column-gap: .5em;
    font-family: 'IBM Plex Sans', sans-serif;
}
button {
    width: 199px;
    height: 62px;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-family: 'IBM Plex Sans', sans-serif;
}
#openchat {
    background-color: #3CB371;
}
#getimg {
    background-color: #4169E1;
}
img {
    margin: 1em ;
    max-width: 100vw ;
}